<app-return-home-button></app-return-home-button>
<div class="panel-heading text-center">
    <span class="label label-default label-center text-center page-title" id="wizards-list">View Wizards</span>
    <p id="table-desciption">Click the 'View' button to view the wizard's bio page.<br>Use the two scrollbars to navigate the table.</p>
</div>
<div class="table-responsive wizard-table">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-white">ID</th>
                <th class="text-white">Name</th>
                <th class="text-white">Actor</th>
                <th class="text-white">Image</th>
                <th class="text-white">Species</th>
                <th class="text-white">Gender</th>
                <th class="text-white">House</th>
                <th class="text-white">Date of Birth</th>
                <th class="text-white">Year of Birth</th>
                <th class="text-white">Ancestry</th>
                <th class="text-white">Eye Color</th>
                <th class="text-white">Hair Color</th>
                <th class="text-white">Wand</th>
                <th class="text-white">Patronus Form</th>
                <th class="text-white">Alive?</th>
                <th class="text-white">Hogwarts Student?</th>
                <th class="text-white">Hogwarts Staff?</th>
                <th class="text-white"></th>
            </tr>
        </thead>
        <tbody id="wizard-content">
            <tr *ngFor="let wizard of wizards; trackBy: trackItem" id="data-row">
                <td class="text-white">{{wizard.id}}</td>
                <td class="text-white">{{wizard.name}}</td>
                <td class="text-white">{{wizard.actor}}</td>
                <td class="text-white">{{wizard.image}}</td>
                <td class="text-white">{{wizard.species}}</td>
                <td class="text-white">{{wizard.gender}}</td>
                <td *ngIf='wizard.house !== ""; else elseBlockHouse' class="text-white">{{wizard.house}}</td>
                <ng-template #elseBlockHouse>
                    <td>
                        <span class="temp">No house</span>
                    </td>
                </ng-template>
                <td *ngIf='wizard.dateOfBirth !== ""; else elseBlockDOB' class="text-white">{{wizard.dateOfBirth}}</td>
                <ng-template #elseBlockDOB>
                    <td>
                        <span class="temp">Date Unknown</span>
                    </td>
                </ng-template>
                <td *ngIf='wizard.yearOfBirth !== 0; else elseBlockYOB'class="text-white">{{wizard.yearOfBirth}}</td>
                <ng-template #elseBlockYOB>
                    <td>
                        <span class="temp">Unknown</span>
                    </td>
                </ng-template>
                <td *ngIf='wizard.ancestry !== ""; else elseBlockAncestry' class="text-white">{{wizard.ancestry}}</td>
                <ng-template #elseBlockAncestry>
                    <td>
                        <span class="temp">N/A</span>
                    </td>
                </ng-template>
                <td *ngIf='wizard.eyeColour !== ""; else elseBlockEyes' class="text-white">{{wizard.eyeColour}}</td>
                <ng-template #elseBlockEyes>
                    <td>
                        <span class="temp">N/A</span>
                    </td>
                </ng-template>
                <td class="text-white">{{wizard.hairColour}}</td>
                <td class="text-white align-items-start justify-content-start">
                    <span *ngIf="wizard.wand.wood; else elseBlock1" class="wood .justify-content-start">{{wizard.wand.wood}}</span>
                    <ng-template #elseBlock1>No wood</ng-template><br>
                    <span *ngIf="wizard.wand.core; else elseBlock2" class="core">{{wizard.wand.core}}</span>
                    <ng-template #elseBlock2>No core</ng-template><br>
                    <span *ngIf="wizard.wand.length; else elseBlock3" class="length">{{wizard.wand.length}}</span>
                    <ng-template #elseBlock3>0</ng-template>
                </td>
                <td *ngIf='wizard.patronus !== ""; else elseBlockPatronus' class="text-white">{{wizard.patronus}}</td>
                <ng-template #elseBlockPatronus>
                    <td>
                        <span class="temp">N/A</span>
                    </td>
                </ng-template>
                <td class="text-white">{{wizard.alive}}</td>
                <td class="text-white">{{wizard.hogwartsStaff}}</td>
                <td class="text-white">{{wizard.hogwartsStudent}}</td>
                <!-- <td><button class="btn btn-primary rev-btn" (click)="activeId=wizard.id; open()">View</button></td>
                routerLink="/view/{{wizard.id}}"
                -->
                <td><button class="btn btn-primary view-btn">View</button></td> 
            </tr>
            
        </tbody>
    </table>
</div>
