*{
    padding: 10px;
}
.wizard-table {
    display: grid;
    min-height: 30px;
    grid-template-columns: repeat(10,auto);
    gap: 5px;
    align-items: flex-start;
    color: white;
}

/*.email {
    text-align: center;
}*/

.view-btn {
    padding: 10px 20px;
    background-color: #7e0001;
    color: white;
    border: none;
    border-radius: 10px;
   /* transition: 0.4s ease-in-out;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    /*animation-duration: 3s;
    /* don't forget to set a duration! */
}

.view-btn:hover{
    opacity: 0.8;
}

#data-row{
    animation: flipInX;
    animation-duration: 3s;
}