*{
    padding: 20px;
}

.temp{
    color: white !important;
}

#table-desciption{
    letter-spacing: 2px;
    font-size: 2rem;
}

.panel-heading{
    margin: 0 auto;
}
.page-title{
    font-size: 3rem;
    letter-spacing: 2px;
}
.wizard-table {
    display: grid;
    min-height: 30px;
    grid-template-columns: repeat(10,auto);
    gap: 5px;
    align-items: flex-start;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

/*.email {
    text-align: center;
}*/

.view-btn {
    padding: 10px 20px;
    background-color: #7e0001;
    color: white;
    border: none;
    border-radius: 10px;
   /* transition: 0.4s ease-in-out;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    /*animation-duration: 3s;
    /* don't forget to set a duration! */
}

.view-btn:hover{
    opacity: 0.8;
}

#data-row{
    animation: flipInX;
    animation-duration: 3s;
}