.main-title{
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: "Potter Font" !important;
}

.desc{
    font-size: 2rem;
    font-family: 'Roboto';
    line-height: 2;
}

.login-btn {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto';
    letter-spacing: 2px;
    padding: 20px 40px;
    background-color: #7e0001;
    color: white;
    border: none;
    border-radius: 10px;
   /* transition: 0.4s ease-in-out;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    /*animation-duration: 3s;
    /* don't forget to set a duration! */
}

.login-btn:hover{
    opacity: 0.8;
}