.title{
    font-size: 5rem;
    letter-spacing: 2px;
}

.my-cr{
    letter-spacing: 5px;
    font-family: monospace;
    color: white;
    opacity: .5;
}

.left-side, .right-side{
    margin-top: 25vh;
}