<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row text-center align-items-center">
    <div class="col-lg-2"></div>
    <div class="col-lg-3 gauche left-side">
        <h1 class="title">Home Page</h1>
    </div>
    <div class="col-lg-5 corps right-side">
        <img src="https://via.placeholder.com/150" alt="" />
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<footer class="my-cr margin-bottom text-center fixed-bottom">
  <span>&copy;2021 by Azhya A. Knox</span>
</footer>
