<app-nav-bar></app-nav-bar>
<div class="container" id="opening-container">
  <div class="row text-center align-items-center">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 gauche left-side">
        <h1 class="main-title">Welcome to The Harry Potter Magical Social Site</h1>
        <p class="intro">The #1 online platform that allows users to create a public profile and interact with other users who share the same love for our famous wizard!</p>
        <div class="logout-section">
          <app-login></app-login>
        </div>
      </div>
    <div class="col-lg-5 corps right-side">
        <img class="main-img" src="https://i.imgur.com/K3NOMrl.gif" alt="" />
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<footer class="my-cr margin-bottom text-center fixed-bottom">
  <span>&copy;2021 by Azhya A. Knox</span>
</footer>
